<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.vitorgalvao.alfred.calmnotifications</string>
	<key>connections</key>
	<dict>
		<key>228CA655-B48E-4447-9782-037C52600826</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>23D73BBF-CCE5-4C31-BFDC-031D81E36F11</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>23D73BBF-CCE5-4C31-BFDC-031D81E36F11</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A21534A2-4F21-4969-98E9-37A642841660</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>10800F7B-3F08-4143-BE36-26AA026B629D</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3E435725-836B-4634-BF9F-B8DBADDDEABF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4ED1CDCB-8AEE-422F-9A1F-C760907A1D6F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4ED1CDCB-8AEE-422F-9A1F-C760907A1D6F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7F5F20EB-6D1D-44D4-9FB7-46BA2514837C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>228CA655-B48E-4447-9782-037C52600826</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A21534A2-4F21-4969-98E9-37A642841660</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2EEEE782-BC2A-415F-AF89-7D8D46BED423</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>_button1</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CCD42A98-2018-4BC4-9B3A-90AA2B0AEB3A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4ED1CDCB-8AEE-422F-9A1F-C760907A1D6F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Vítor Galvão</string>
	<key>description</key>
	<string>Toggle Do Not Disturb Focus Mode</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Calm Notifications</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>availableviaurlhandler</key>
				<false/>
				<key>triggerid</key>
				<string>dnd</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>CCD42A98-2018-4BC4-9B3A-90AA2B0AEB3A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputmode</key>
				<integer>0</integer>
				<key>outputmode</key>
				<integer>0</integer>
				<key>shortcut</key>
				<string>Calm Notifications</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.runshortcut</string>
			<key>uid</key>
			<string>7F5F20EB-6D1D-44D4-9FB7-46BA2514837C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>4ED1CDCB-8AEE-422F-9A1F-C760907A1D6F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string>Calm Notifications.shortcut</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>2EEEE782-BC2A-415F-AF89-7D8D46BED423</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict>
					<key>target_shortcut</key>
					<string>Calm Notifications</string>
				</dict>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/shortcuts/shortcut.installed</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>228CA655-B48E-4447-9782-037C52600826</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>{var:dnd_keyword}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Getting status…</string>
				<key>script</key>
				<string>function sfItem(itemObj) {
  return JSON.stringify({
    rerun: 0.5,
    items: [itemObj]
  })
}

function run(argv) {
  // Check if shortcut is installed and grab curent Focus
  try {
    const currentFocus = Application("Shortcuts Events")
      .shortcuts
      .byName("Calm Notifications")
      .run({ withInput: "status" })

    // Focus enabled
    if (currentFocus.length &gt; 0) {
      return sfItem({
        title: `Turn Off ${currentFocus} Focus`,
        arg: "off"
      })
    }
  } catch {
    return sfItem({
      title: "Missing Calm Notifications Shortcut",
      subtitle: "Press ↩ to install it",
      arg: "install"
    })
  }

  // Focus disabled
  const givenTimeout = argv[0]

  // Any given value must start with a digit
  if (givenTimeout === undefined || !givenTimeout.match(/^\d/)) {
    return sfItem({
      title: "Turn On Do Not Distub",
      arg: "on",
      icon: { path: "icon_alt.png" }
    })
  }

  // Calculate timeout
  const timeoutMinutes = givenTimeout.match(/\d\s*h/) ?
    parseInt(parseFloat(givenTimeout) * 60) :
    parseInt(givenTimeout)

  const plurality = timeoutMinutes === 1 ? "minute" : "minutes"

  // Calculate clock
  const date = new Date() // Current time
  date.setMinutes(date.getMinutes() + timeoutMinutes)
  const clock = date.toTimeString().slice(0, 5)

  return sfItem({
    title: `Turn On Do Not Disturb for ${timeoutMinutes} ${plurality}`,
    subtitle: `Enable until ${clock}`,
    arg: timeoutMinutes,
    icon: { path: "icon_alt.png" }
  })
}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>skipuniversalaction</key>
				<true/>
				<key>subtext</key>
				<string>Toggle Do Not Disturb Focus Mode</string>
				<key>title</key>
				<string>{const:alfred_workflow_name}</string>
				<key>type</key>
				<integer>7</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>3E435725-836B-4634-BF9F-B8DBADDDEABF</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>button1</key>
				<string>Install Shortcut</string>
				<key>button2</key>
				<string>Cancel</string>
				<key>button3</key>
				<string></string>
				<key>description</key>
				<string>A Shorcut is required to perform this action.</string>
				<key>title</key>
				<string>Shortcut Not Installed</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.dialog</string>
			<key>uid</key>
			<string>A21534A2-4F21-4969-98E9-37A642841660</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>6</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>Missing Shortcut</string>
						<key>uid</key>
						<string>10800F7B-3F08-4143-BE36-26AA026B629D</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string></string>
				<key>hideelse</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>23D73BBF-CCE5-4C31-BFDC-031D81E36F11</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>## Usage

Toggle your Focus Mode via the `dnd` keyword. Optionally give a number when enabling to activate it for that amount of minutes, or hours if an `h` is appended.

![Alfred search for dnd, turn on](images/about/dnd_on.png)

![Alfred search for dnd 1.5h](images/about/dnd_1.5h.png)

![Alfred search for dnd, turn off](images/about/dnd_off.png)</string>
	<key>uidata</key>
	<dict>
		<key>228CA655-B48E-4447-9782-037C52600826</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<real>390</real>
			<key>ypos</key>
			<real>155</real>
		</dict>
		<key>23D73BBF-CCE5-4C31-BFDC-031D81E36F11</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<real>540</real>
			<key>ypos</key>
			<real>185</real>
		</dict>
		<key>2EEEE782-BC2A-415F-AF89-7D8D46BED423</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<real>750</real>
			<key>ypos</key>
			<real>155</real>
		</dict>
		<key>3E435725-836B-4634-BF9F-B8DBADDDEABF</key>
		<dict>
			<key>xpos</key>
			<real>50</real>
			<key>ypos</key>
			<real>155</real>
		</dict>
		<key>4ED1CDCB-8AEE-422F-9A1F-C760907A1D6F</key>
		<dict>
			<key>xpos</key>
			<real>260</real>
			<key>ypos</key>
			<real>125</real>
		</dict>
		<key>7F5F20EB-6D1D-44D4-9FB7-46BA2514837C</key>
		<dict>
			<key>xpos</key>
			<real>390</real>
			<key>ypos</key>
			<real>35</real>
		</dict>
		<key>A21534A2-4F21-4969-98E9-37A642841660</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<real>610</real>
			<key>ypos</key>
			<real>175</real>
		</dict>
		<key>CCD42A98-2018-4BC4-9B3A-90AA2B0AEB3A</key>
		<dict>
			<key>xpos</key>
			<real>50</real>
			<key>ypos</key>
			<real>35</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>dnd</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Do Not Disturb Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>dnd_keyword</string>
		</dict>
	</array>
	<key>version</key>
	<string>2025.1</string>
	<key>webaddress</key>
	<string>https://github.com/vitorgalvao/calm-notifications-workflow/</string>
</dict>
</plist>
